---
const github = "https://github.com/mghidini";
---

<section id="hero">
  <h1>Ciao! I'm Matilde</h1>
  <p>
    This project is a totally serious academic deep-dive into PokéAPI.
  </p>
  <p>
	... or maybe just a nostalgic excuse to look at pixelated monsters.
  </p>

  <h2>What Is This?</h2>
  <p>
    A custom-built Pokédex using the
    <a href="https://pokeapi.co/" target="_blank">PokéAPI</a>. Made with
    <a href="https://astro.build/" target="_blank">Astro</a> and a lot of vibes.
  </p>

  <h2>Why?</h2>
  <ul>
    <li>Learn to work with APIs</li>
    <li>Build something fast & fun</li>
    <li>Unleash inner child (and CSS gradients)</li>
  </ul>

  <h2>Find Me On:</h2>
  <a href={github} target="_blank">GitHub</a></li>

</section>

<style>
  
	h1, h2 {
	  margin-bottom: 1.5rem;
	  color: white;
	}
  
	p {
	  margin: 1.5rem;
	  color: white;
	}
  
	ul {
	  padding-left: 1.5rem;
	  margin-bottom: 1.5rem;
	}
  
	li {
	  margin: 0.75rem;
	  color: white;
	}
  
	a {
	  color: rgb(255, 213, 0);
	  text-decoration: none;
	}
  
	a:hover {
	  text-decoration: underline;
	}
  
  </style>