---
import pokemonLogo from '../assets/pokemonLogo.png';
---

<section id="hero">
	<h1>
		Welcome to Astro Pokedex!
	</h1>
	<div class="image-container">
		<a href="https://pokeapi.co/">
			<img class="image" src={pokemonLogo.src} width="640" alt="Pokedex API Homepage" />
		</a>
	</div>
	<section id="links">
		<a class="button" href="https://pokeapi.co/">PokeAPI Docs</a>
	</section>
</section>

<style>
	/* Container for the image */
	.image-container {
		position: relative;
		display: inline-block;
	}

	/* The actual image */
	.image {
		position: relative;
		z-index: 1;
	}

	#hero {
		height: 100%;
	}
</style>
