---
import { ClientRouter } from 'astro:transitions';
import Header from '../components/Header.astro';
import background from '../assets/poke4.jpeg';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<div id="container">
			<img id="background" src={background.src} alt="" fetchpriority="high" />
			<Header />
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		overflow: scroll;
	}
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(4px);
	}

	#container {
		font-family: 'Press Start 2P', cursive;
		height: 100%;
	}
	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}
</style>

<style is:global>
	#hero {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
		background-color: rgb(0, 0, 0, .6);
		width: 100%;
		height: fit-content;
	}

	#hero h1 {
		color: white;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
		color: white;
	}

	#links {
		display: flex;
		gap: 16px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a.button {
		color: white;
		background:#004cff;
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
	}

	#links a.button:hover {
		color: white;
		background: linear-gradient(14deg, #2d2d93 0%, #f041ff 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24),

	pre {
		font-family:
			ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
			monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 900px;
  padding: 24px;
  background-color: #059669; /* emerald-600 */
  border-radius: 8px;
}

.pokemon-name {
  font-size: 2rem;
  font-weight: bold;
  color: #334155; /* slate-700 */
  padding: 24px;
  text-align: center;
  word-break: break-word;
}

.pokemon-id {
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 24px 0;
}

.pokemon-image {
  width: 25%;
  max-width: 150px;
}

.stats {
  margin-top: 16px;
}

.stat {
  text-align: center;
}

</style>
